---
layout: default
title: home
---

<h2>Hacker School Read Along</h2>

<p class="lead">Reflections on papers in the <a href="https://www.hackerschool.com">Hacker School</a> Read Along series.</p>

<ul class="posts">
{% for post in site.categories.hsreadalong %}
    {% if post.published %}
    <li class="index">
      <div class="index-date">{{ post.date | date: "%Y-%m-%d" }}</div><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
{% endfor %}
</ul>

{% if site.categories.book.size > 0 %}
  <h2>Bookish</h2>

  <p class="lead">Sometimes I read books and then write something about them here.</p>

  <ul class="posts">
  {% for post in site.categories.book %}
      {% if post.published %}
      <li class="index">
        <div class="index-date">{{ post.date | date: "%Y-%m-%d" }}</div><a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endif %}
  {% endfor %}
  </ul>
{% endif %}

<h2>Flapjacks</h2>

<p class="lead">Flapjacks are posts that originally appeared on the <a href="http://gofullstack.com">FullStack</a> internal blog. They appear here effectively unchanged.</p>

<ul class="posts">
{% for post in site.categories.flapjacks %}
    {% if post.published %}
    <li class="index">
      <div class="index-date">{{ post.date | date: "%Y-%m-%d" }}</div><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
{% endfor %}
</ul>

<h2>Elsewhere</h2>

<p class="lead">Pieces I've written that are publicly available elsewhere.</p>

<ul class="posts">
{% for post in site.categories.elsewhere %}
    {% if post.original %}
    <li class="index">
      <div class="index-date">{{ post.date | date: "%Y-%m-%d" }}</div><a href="{{ post.original }}">{{ post.title }}</a>
    </li>
    {% endif %}
{% endfor %}
</ul>
