<div class="footer">
  <div class="contact">
    <p>
      <a href="{{ site.url }}/feed.xml">RSS</a> /
      <a href="https://twitter.com/bcobb">Twitter</a> /
      <a href="https://github.com/bcobb">GitHub</a> /
      <a href="https://pinboard.in/u:bcobb">Pinboard</a>
    </p>
    <p class="credits">
      Thanks to <a href="http://michaelrbernste.in" target="_blank">Michael R. Bernstein</a> for the <a href="https://github.com/mrb/mrb.github.com/" target="_blank">foundation</a> of this blog.
    </p>
  </div>
</div>
