<!DOCTYPE html>
<html lang="en">
<head>
{% include meta.html %}

  <title>bcobb: {{ page.seo.title }}</title>
  {% include styles.html %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.path }}feed.xml">
  {% if page.canonical_path %}
  <link rel="canonical" href="{{ site.url }}{{ page.canonical_path }}">
  {% else %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {% endif %}
</head>
<body>
  <div class="site">
    <h1 class="title"><a href="/">bcobb</a></h1>

    {{ content }}

    {% include footer.html %}
    <p class="credits">
      Thanks to <a href="http://michaelrbernste.in">MRB</a> for the <a href="https://github.com/mrb/mrb.github.com/">foundation</a> of this blog.
    </p>
    <p class="credits">
    The "b" stands for <a href="{{ site.path }}about">Brian</a>.
    </p>
  </div>
</body>
</html>
