<!DOCTYPE html>
<html lang="en">
<head>
{% include meta.html %}

  <title>bcobb: {{ page.seo.title }}</title>
  {% css main %}
  {% css syntax %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.path }}feed.xml">
  {% if page.canonical_path %}
  <link rel="canonical" href="{{ site.url }}{{ page.canonical_path }}">
  {% else %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {% endif %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44011119-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="site">
    <h1 class="title"><a href="/">bcobb</a></h1>
    <p>
    The "b" stands for <a href="{{ site.path }}about">Brian</a>.
    </p>

    {{ content }}

    {% include footer.html %}
    <p class="credits">
      Thanks to <a href="http://michaelrbernste.in" target="_blank">MRB</a> for the <a href="https://github.com/mrb/mrb.github.com/" target="_blank">foundation</a> of this blog.
    </p>
  </div>
</body>
</html>

