<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title>bcobb: {{ page.title }}</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
</head>
<body>
  <div class="site">
    <div span="title"><a href="/">bcobb</a></div>

    {{ content }}

    <div class="footer">
      <div class="contact">
        <p>
          Brian Cobb<br />
          <a href="https://twitter.com/bcobb">@bcobb</a><br/>
          <a href="https://github.com/bcobb">github.com/bcobb</a>
        </p>
      </div>
    </div>
  </div>
</body>
</html>

