<html lang="en">
<head>
  <link href="//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic" rel="stylesheet" type="text/css">
{% include meta.html %}

  <title>bcobb: {{ page.seo.title | escape }}</title>

  {% css main %}
  {% css syntax %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.path }}feed.xml">
  {% if page.canonical_path %}
  <link rel="canonical" href="{{ site.url }}{{ page.canonical_path }}">
  {% else %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {% endif %}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": "{{ page.seo.title | escape }}",
      "image": "",
      "publisher": {
        "name": "Brian Cobb"
      },
      {% if page.date %}
      "datePublished": "{{ page.date | date: "%Y-%m-%dT%H:%M:00%z" }}",
      {% endif %}
      {% if page.modified %}
      "dateModified": "{{ page.modified | date: "%Y-%m-%dT%H:%M:00%z" }}",
      {% endif %}
      "author": {
        "@type": "Person",
        "name": "Brian Cobb"
      },
      "description": "{{ page.seo.description | escape }}"
    }
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44011119-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="site">
    <h1 class="title"><a href="/">bcobb</a></h1>

    <div id="post">
      {% if page.title %}
        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
      {% endif %}

      {% if page.date %}
        <p>{{ page.date | date: "%b %-d, %Y" }}</p>
      {% endif %}

      {{ content }}

      {% for category in page.categories %}
        {% if category == "flapjacks" %}
          <p class="flapjack description">
            This post is a flapjack, which means I originally wrote it for the internal <a href="http://gofullstack.com">FullStack</a> blog and have republished it here. Any mysterious, unexplained context was probably obvious to the team at the time.
          </p>
        {% endif %}
      {% endfor %}
    </div>

    {% include footer.html %}
  </div>
</body>
</html>

