<html lang="en">
<head>
{% include meta.html %}

  <title>bcobb: {{ page.title }}</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
</head>
<body>
  <div class="site">
    <h1 class="title"><a href="/">bcobb</a></h1>

    <div id="post">
      <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
      <p>{{ page.date | date: "%b %-d, %Y" }}</p>

      {{ content }}
    </div>

    {% include footer.html %}
  </div>
</body>
</html>

